<!-- header -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col s2 offset-s3"><p>Color scheme:</p></div>
    <div class="col s2 offset-s2">
      <!-- Switch -->
      <div class="switch">
        <label>
          For real boys
          <input type="checkbox" />
          <span class="lever"></span>
          White
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s2 offset-s3"><p>Pick city:</p></div>
    <div class="col s2 offset-s2">
      <ngx-select-dropdown
        (change)="onCityChanged()"
        [(ngModel)]="singleSelect"
        [multiple]="false"
        [config]="ngx_select_config"
        [options]="citiesList"
      ></ngx-select-dropdown>
    </div>
  </div>
</div>
