<div class="big-dashboard">
  <p class="description">{{ weatherInfo.description | slice: 0:8 }}</p>
  <p class="temperature">{{ weatherInfo.currentTemperature }}°</p>
  <div class="info">
    <img src="{{ weatherInfo.img }}" />
    <div class="additional-information">
      <p class="average-temperature">
        {{ weatherInfo.minTemperature }}°/{{ weatherInfo.maxTemperature }}°
      </p>
      <p class="feels-like">
        Feels like: {{ weatherInfo.feelsLikeTemperature }}°
      </p>
      <p class="hymidity">Humidity: {{ weatherInfo.humidity }}%</p>
      <p class="wind">Wind: {{ weatherInfo.windSpeed }} m/s</p>
    </div>
  </div>
</div>
