/* Set main backgrounf color #07072B */
body {
  background-color: #07072b;
}

html * {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
}

/* Swith */
.switch label input[type=checkbox]:checked + .lever {
  background-color: #171970 !important;
}

.switch label .lever:after {
  background-color: #171970 !important;
}

.switch label input[type=checkbox]:checked + .lever:after{
  background-color:#E2EAFF !important;
}


/* Customize ngx-select-dropdown */
.ngx-dropdown-button{
  /* Brilliant Azure */
  background: #489ef9 !important;
  /* Midnight blue */
  color: 171970 !important;
  border: 0px solid #E2EAFF !important;
}