/* Set main backgrounf color #07072B */
body {
  background-color: #07072b;
}

/* Swith */
.switch label input[type="checkbox"]:checked + .lever {
  background-color: #171970 !important;
}

.switch label .lever:after {
  background-color: #171970 !important;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #e2eaff !important;
}

/* Customize ngx-select-dropdown */
.ngx-dropdown-button {
  /* Brilliant Azure */
  background: #489ef9 !important;
  /* Midnight blue */
  color: 171970 !important;
  border: 0px solid #e2eaff !important;
}
