html * {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
}

.title {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 96px;
  line-height: 110px;

  /* Brilliant Azure */
  color: #489ef9;
  text-shadow: -5px 5px 0px #171970;
}

.dashboards {
  text-align: center;
  margin: auto;
}

.big {
  display: inline-block;
}

.inline {
  position: relative;
  vertical-align: top;
  display: inline-block;
  height: 492px;
}

.mini {
  vertical-align: top;
  margin-left: 67px;
}

.medium {
  margin-left: 100px;
  position: absolute;
  bottom: 0px;
}
